{% extends 'base.html.twig' %}

{% block title %}Patient{% endblock %}

{% block body %}
    <h1>Patient</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ patient.id }}</td>
            </tr>
            <tr>
                <th>First_name</th>
                <td>{{ patient.firstName }}</td>
            </tr>
            <tr>
                <th>Last_name</th>
                <td>{{ patient.lastName }}</td>
            </tr>
            <tr>
                <th>Patient_no</th>
                <td>{{ patient.patientNo }}</td>
            </tr>
            <tr>
                <th>Sex</th>
                <td>{{ patient.sex }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ patient.age }}</td>
            </tr>
            <tr>
                <th>Allergies</th>
                <td>{{ patient.allergies }}</td>
            </tr>
            <tr>
                <th>Location</th>
                <td>{{ patient.location }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('patient_index') }}">back to list</a>

    <a href="{{ path('patient_edit', {'id': patient.id}) }}">edit</a>

    {{ include('patient/_delete_form.html.twig') }}
{% endblock %}
