{% extends 'base.html.twig' %}

{% block title %}HealthMaintenance{% endblock %}

{% block body %}
    <h1>HealthMaintenance</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ health_maintenance.id }}</td>
            </tr>
            <tr>
                <th>Tcd_screening_date</th>
                <td>{{ health_maintenance.tcdScreeningDate ? health_maintenance.tcdScreeningDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Tcd_screening_result</th>
                <td>{{ health_maintenance.tcdScreeningResult }}</td>
            </tr>
            <tr>
                <th>Recommendations</th>
                <td>{{ health_maintenance.recommendations }}</td>
            </tr>
            <tr>
                <th>Next_tcd_screening_date</th>
                <td>{{ health_maintenance.nextTcdScreeningDate ? health_maintenance.nextTcdScreeningDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Specialist</th>
                <td>{{ health_maintenance.specialist }}</td>
            </tr>
            <tr>
                <th>Specialist_visit_date</th>
                <td>{{ health_maintenance.specialistVisitDate ? health_maintenance.specialistVisitDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Notes</th>
                <td>{{ health_maintenance.notes }}</td>
            </tr>
            <tr>
                <th>Immunization</th>
                <td>{{ health_maintenance.immunization }}</td>
            </tr>
            <tr>
                <th>Immunization_date</th>
                <td>{{ health_maintenance.immunizationDate ? health_maintenance.immunizationDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('health_maintenance_index') }}">back to list</a>

    <a href="{{ path('health_maintenance_edit', {'id': health_maintenance.id}) }}">edit</a>

    {{ include('health_maintenance/_delete_form.html.twig') }}
{% endblock %}
